.change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2vh;
}

.change-password > input,
.change-password > button {
  height: 6vh;
  max-height: 40px;
  width: 35%;
}

.tests-title {
  color: #000;
}
